:root
{
    box-sizing: border-box;
}

*,
::before,
::after
{
    box-sizing: inherit;
}

body
{
  background-color: #3C84A7;
  font-family: 'Permanent Marker';

}

body * + *
{
  margin-top: 2em;
}

.Mobile_only /*//TODO: Make this available to mobile screens hiding this for now*/
{
  display:none;
}

.container
{
  max-width: 1080px;
  margin: 0 auto;
}

.Intro_to_pages
{
  display: flex;
}

.Welcome_Paragraph
{
  font-family: 'Architects Daughter', cursive;
}

/*//TODO: play around with Icon sizing, get away from px, try em for responsiveness*/
.magnifying_glass_right
{
  width: 64px;
  height: 64px;
  background: url('Magnifying_glass_header.svg');
  background-size: cover;

}

.magnifying_glass_left
{
  width: 64px;
  height: 64px;
  background: url('Magnifying_glass_header.svg');
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-size: cover;
}
